page-memotrix {

    .grid-full ion-row {
    height: 100%;
    padding: 0;
    flex-wrap: wrap;
    }

    .grid-full ion-col {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    padding: 10px 5px;
    }

    .grid-full button {
    text-align: center;
    padding: 100px 100px;
    }


    .estilo-rojo {
    background-color: #F44336;
    font-size: 24px;
    }

    .estilo-rojo:active , .estilo-verde:active , .estilo-azul:active , .estilo-amarillo:active , .estilo-rosa:active , .estilo-violeta:active{
    background-color: #607D8B;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }

    .estilo-verde {
    background-color: #009688;
    font-size: 24px;
    }
    .estilo-azul {
    background-color: #3F51B5;
    font-size: 24px;
    }
    .estilo-amarillo {
    background-color: #CDDC39;
    font-size: 24px;
    }
    .estilo-rosa {
    background-color: #E91E63;
    font-size: 24px;
    }
    .estilo-violeta {
    background-color: #673AB7;
    font-size: 24px;
    }

    .estilo-negro {
    background-color: #000000;
    font-size: 24px;
    }

    .estilo-default {
    background-color: #607D8B;
    font-size: 24px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }

}
